<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Discord Oauth</title>
  <meta name="description" content="Callback page for Discord Oauth">
  <meta name="author" content="kantenkugel">
</head>

<body>
  <h3><%= message %></h3>
  <script>
    if(window.opener)
      window.opener.postMessage("<%= postMessage %>", window.location.origin);
    if("<%= postMessage %>" === "ok")
      window.close();
    else
      setTimeout(window.close, 3000);
  </script>
</body>
</html>